<!DOCTYPE html>
<html>
<head>
    <!-- Metatags, estilos, scripts, etc. -->
    <title>Meu Layout</title>
</head>
<body>

    <!-- Conteúdo da barra de navegação, cabeçalho, etc. -->
    <!-- Conteúdo específico da página será inserido aqui -->
    @RenderBody()

    <!-- Rodapé, scripts, etc. -->

</body>
</html>
