@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Conteúdo específico da página -->
<h1>Minha Página Index</h1>
<p>Este é o conteúdo da página index.</p>
